<div>
	<h1>Movie</h1>
	<div class="containter">
		Naziv:<input type=text ng-model="curentMovie.name"><br/>
		Zanr:<input type=text ng-model="curentMovie.genre"><br/>
		Reziser:<input type=text ng-model="curentMovie.director"><br/>
		Trajanje:<input type=text ng-model="curentMovie.duration"><br/>
		Prosecna osena:{{curentMovie.avgReview}}<br/>
		Cena:<input type=text ng-model="curentMovie.price"><br/>
		Opis:<textarea name="Text1" cols="40" rows="5" ng-model="curentMovie.description"></textarea><br/>
		Poster:<img ng-src="/api/files/{{curentMovie.image}}"><br/>
		Novi poster:<input type="file" file-upload="myFile"/><br/>
	</div>
	
	<h4>Glumci</h4>
	<ol>
		<li ng-repeat="glumac in curentMovie.glumci">
			{{glumac.ime}} {{glumac.prezime}} 
			<button ng-click="deleteGlumac(glumac.id)">Delete</button>
		</li>
		
	</ol>
	<div>
		<div ng-if="enterGlumac==true">
			<div ng-show="newActroPanelActiaved==false">
				<select  ng-model="enterGlumacVal" ng-options="x as imePrezime(x) for x in listGlumci"></select><br/>
			</div>
			<div ng-show="newActroPanelActiaved==true">
				Ime: <input type=text ng-model="newActorName">
				Prezime: <input type=text ng-model="newActorSurname">
			</div>
			<button ng-click="addGlumac(enterGlumacVal, newActorName, newActorSurname)">Add</button><button ng-click="dontShowNewGlumacPanel()">Back</button><button ng-click="newActorPanel()">New/Select old</button>
		</div>
		<button ng-click="showNewGlumacPanel()">New</button>
	</div>
	<button ng-click="backToParentMovie()">Back</button>
	<button ng-click="commitChanges()">Save</button>
	<!-- Sale, termini, poster, glumci-->
</div>