<div>
	<h1>Movie</h1>
	<div class="containter">
		Naziv:<input type=text ng-model="curentMovie.name"><br/>
		Zanr:<input type=text ng-model="curentMovie.genre"><br/>
		Reziser:<input type=text ng-model="curentMovie.director"><br/>
		Trajanje:<input type=text ng-model="curentMovie.duration"><br/>
		Cena:<input type=text ng-model="curentMovie.price"><br/>
		Opis:<textarea name="Text1" cols="40" rows="5" ng-model="curentMovie.description"></textarea><br/>
		Poster:<img ng-src="/api/files/{{curentMovie.image}}"><br/>
		Novi poster:<input type="file" file-upload="myFile"/><br/>
	</div>
	
	
	<h4>Glumci:</h4>
	<ol>
		<li ng-repeat="glumac in curentMovie.glumci">
			{{glumac.ime}} {{glumac.prezime}} 
			<button ng-click="deleteGlumac(glumac.id)">Delete</button>
		</li>
	</ol>
	<br/>
	<div>
		<div ng-if="enterGlumac==true">
			<div ng-show="newActroPanelActiaved==false">
				<select  ng-model="enterGlumacVal" ng-options="x as imePrezime(x) for x in listGlumci"></select><br/>
			</div>
			<div ng-show="newActroPanelActiaved==true">
				Ime: <input type=text ng-model="newActorName">
				Prezime: <input type=text ng-model="newActorSurname">
			</div>
			<button ng-click="addGlumac(enterGlumacVal, newActorName, newActorSurname)">Add</button><button ng-click="dontShowNewGlumacPanel()">Back</button><button ng-click="newActorPanel()">New/Select old</button>
		</div>
		<button ng-click="showNewGlumacPanel()">New</button>
	</div>
	
	<h4>Projekcije:</h4>
	<ol>
		<li ng-repeat="projekcija in listProjekcije">
			{{date(projekcija.date)}}<br/>
			Cena:{{projekcija.cena}}<br/>
			<button ng-click="manageSetas(projekcija)">Manage seats/Edit</button>
			<!--  <button ng-click="editProjekcija(projekcija)">Edit</button>  -->
			<button ng-click="deleteProjekcija(projekcija)">Delete</button>
		</li>
	</ol>
	
	<div>
		<!-- new proj deo -->
		<div ng-show="newProjekcijaPanelActivated==true">
			<h5>New projection:</h5>
			
			Date:<br/>
			<pre>Selected date is: <em>{{newProjDate | date:'fullDate' }}</em></pre>
		    <div style="display:inline-block; min-height:290px;">
		      <div uib-datepicker ng-model="newProjDate" class="well well-sm" datepicker-options="options"></div>
		    </div><br/>
		    Time:
		    <div uib-timepicker ng-model="newProjTime" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></div>
		    
		    
			Cena:<input type=text ng-model="newProjCena"><br/>
			
			Sala:<select ng-show="opdNewSala==true" ng-model="newProjSala" ng-options="x as stringSala(x) for x in listSale"></select>
			<div ng-show="opdNewSala==false">
				Naziv: <input type=text ng-model="newProjSalaNaziv">
				Duzina: <input type=text ng-model="newProjSalaDuz">
				Visina: <input type=text ng-model="newProjSalaVis">
			</div>
			<button ng-click="dontShowOldSala()">New sala/Old sala</button><br/>
			
			<button ng-click="dontShowNewProjectionPanel()">Back</button>
			<button ng-click="saveNewProj(newProjSala)">Save</button>
		</div>
		<button ng-click="showNewProjekcijaPanel()">New</button>
	</div>
	
	
	
	
	
	
	<br/>
	<button ng-click="backToParentMovie()">Back</button>
	<button ng-click="commitChanges()">Save</button>
	<!-- Sale, termini, poster, glumci-->
</div>






