<div>
	<h1>Movie</h1>
	<div class="containter">
		Naziv:{{curentMovie.name}}<br/>
		Zanr:{{curentMovie.genre}}<br/>
		Reziser:{{curentMovie.director}}<br/>
		Trajanje:{{curentMovie.duration}}<br/>
		Prosecna osena:{{curentMovie.avgReview}}<br/>
		Cena:{{curentMovie.price}}<br/>
		Opis:<textarea name="Text1" cols="40" rows="5" ng-model="curentMovie.description"></textarea><br/>
		Poster:<img ng-src="/api/files/{{curentMovie.image}}"><br/>
		<button ng-click="backToParentMovie()">Back</button>
	</div>
	
	<h4>Glumci</h4>
	<ol>
		<li ng-repeat="glumac in curentMovie.glumci">
			{{glumac.ime}} {{glumac.prezime}} 
		</li>
		
	</ol>
	
	<h4>Projekcije:</h4>
	<ol>
		<li ng-repeat="projekcija in listProjekcije">
			{{projekcija.date}}<br/>
			Cena:{{projekcija.cena}}<br/>
		</li>
	</ol>
	
	<h4>Sale:</h4>
	<ol>
		<li ng-repeat="sala in listSale">
			Naziv:{{sala.nazivBroj}}<br/>
			Visina:{{sala.visina}}<br/>
			Duzina:{{sala.duzina}}<br/>
		</li>
	</ol>
	
	<!-- Sale, termini, poster, glumci-->
</div>