<div>
	<h1>Movie</h1>
	<div class="containter">
		Naziv:<input type=text ng-model="curentMovie.name"><br/>
		Zanr:<input type=text ng-model="curentMovie.genre"><br/>
		Reziser:<input type=text ng-model="curentMovie.director"><br/>
		Trajanje:<input type=text ng-model="curentMovie.duration"><br/>
		Prosecna osena:{{curentMovie.avgReview}}<br/>
		Cena:<input type=text ng-model="curentMovie.price"><br/>
		Opis:<textarea name="Text1" cols="40" rows="5" ng-model="curentMovie.description"></textarea><br/>
		<button ng-click="backToParentMovie()">Back</button>
		<button ng-click="commitChanges()">Save</button>
	</div>
	
	<!-- Sale, termini, poster, glumci-->
</div>