<h1>
Edit place
</h1>
<div>
	<div class="containter">
		Naziv:<input type=text ng-model="curentCinemaTheatre.name"><br/>
		Adresa:<input type=text ng-model="curentCinemaTheatre.address"><br/>
		Opis:<input type=text ng-model="curentCinemaTheatre.description"><br/>
		Tip:{{curentCinemaTheatre.type}}<br/>
		Gmaps url:<input type=text ng-model="curentCinemaTheatre.gmapsUrl"><br/>
		Bronzana granica:<input type=text ng-model="curentCinemaTheatre.bronzeTreshold"><br/>
		Srebrena granica:<input type=text ng-model="curentCinemaTheatre.silverTreshold"><br/>
		Zlatna granica:<input type=text ng-model="curentCinemaTheatre.goldTreshold"><br/>
		Bronzani popust:<input type=text ng-model="curentCinemaTheatre.bronzeSale"><br/>
		Srebreni popust:<input type=text ng-model="curentCinemaTheatre.silverSale"><br/>
		Zlatni popust:<input type=text ng-model="curentCinemaTheatre.goldSale"><br/>
		<!-- promotivne karte -->
		<button ng-click="backToTheatres()">Back</button>
		<button ng-click="commitChanges()">Save</button>
		<button ng-click="showReports()">Reports</button>
		<button ng-click="showHideOneClick()">Show/Hide oneclick</button>
	</div>
	
	
	
	<ol ng-show="izvestajiShow==false">
		<li ng-repeat="movie in curentCinemaTheatre.repertoire.movies">
			Naziv filma:{{movie.name}} <br/>
			Id:{{movie.id}} <br/>
			<img ng-src="/api/files/{{movie.image}}"><br/>		
			<button ng-click="editMovie(movie)">Edit</button>
			<button ng-click="deleteMovie(movie.id)">Delete</button>	
			<button ng-click="viewMovie(movie)">View</button>
		</li>
	</ol>
	
	<div ng-show="izvestajiShow==true">
	<h3>Reports</h3>
	Prosecna ocena ambijenta:{{ambijentOcena}}<br/>
	Prihodi u odredjenom intervalu:<br/>
	Od:<input type=text ng-model="odPrihodi"><br/>
	Do:<input type=text ng-model="doPrihodi"><br/>
	</div>
	
	<div ng-show = "enterMovieState==true">
		Naziv:<input type=text ng-model="enterMoviename"><br/>
		Zanr:<input type=text ng-model="enterMoviegenre"><br/>
		Tip:<select ng-model="enterMovietype" ng-options="x for x in types"></select><br/>
		Reziser:<input type=text ng-model="enterMoviedirector"><br/>
		Trajanje:<input type=text ng-model="enterMovieduration"><br/>
		Cena:<input type=text ng-model="enterMovieprice"><br/>
		Opis:<textarea name="Text1" cols="40" rows="5" ng-model="enterMoviedescription"></textarea><br/>
		Poster:
		<input type="file" file-upload="something.myFile"/>
		<br/>
              
		<!-- Sale, termini, poster, glumci-->
		<button ng-click="cancelEntery()">Cancel entry</button>
		<button ng-click="saveEntery()">Save entry</button>
	</div>
	<button ng-click="newMovie()">New</button>
	
	<div ng-show="showOneClick == true">
		<h3>Oneclick rezervacije:</h3>
		<ol>
			<li ng-repeat="rez in oneClick">
				Naziv filma: {{rez.film.name}}<br/>
				Datum: {{rez.projekcija.date}}<br/>
				Sala: {{rez.projekcija.sala.nazivBroj}}({{rez.rezervisanoMesto.visKord}},{{rez.rezervisanoMesto.duzKord}})<br/>
				Orginalna cena: {{rez.projekcija.cena}}<br/>
				POPUST!: {{rez.rezervisanoMesto.deltaCena}}
				<button ng-click="deleteOneClickReservation(rez.id)">Delete</button>
			</li>
		</ol>
	</div>
</div>