<h1>
Edit place
</h1>
<div>
	<div class="containter">
		Naziv:<input type=text ng-model="curentCinemaTheatre.name"><br/>
		Adresa:<input type=text ng-model="curentCinemaTheatre.address"><br/>
		Opis:<input type=text ng-model="curentCinemaTheatre.description"><br/>
		Tip:{{curentCinemaTheatre.type}}<br/>
		<div ng-if="currentCinemaTheatre.gmapsUrl!=null||currentCinemaTheatre.gmapsUrl!=''"></div>
		<!-- promotivne karte -->
		<button ng-click="backToTheatres()">Back</button>
		<button ng-click="commitChanges()">Save</button>
	</div>
	
	<ol>
		<li ng-repeat="movie in curentCinemaTheatre.repertoire.movies">
			Naziv filma:{{movie.name}} 
			<img ng-src="/api/files/{{movie.image}}">		
			<button ng-click="editMovie(movie)">Edit</button>
		</li>
	</ol>
	<div ng-show = "enterMovieState==true">
		Naziv:<input type=text ng-model="enterMoviename"><br/>
		Zanr:<input type=text ng-model="enterMoviegenre"><br/>
		Tip:<input type=text ng-model="enterMovietype"><br/>
		Reziser:<input type=text ng-model="enterMoviedirector"><br/>
		Trajanje:<input type=text ng-model="enterMovieduration"><br/>
		Cena:<input type=text ng-model="enterMovieprice"><br/>
		Opis:<textarea name="Text1" cols="40" rows="5" ng-model="enterMoviedescription"></textarea><br/>
		Poster:
		<input type="file" file-upload="something.myFile"/>
		<br/>
              
		<!-- Sale, termini, poster, glumci-->
		<button ng-click="cancelEntery()">Cancel entry</button>
		<button ng-click="saveEntery()">Save entry</button>
	</div>
	<button ng-click="newMovie()">New</button>
</div>