<h1>
Cinemas
</h1>
	  <button ng-click="addPlace()">Dodaj Bioskop</button><br/>
<div>
	<div class="container" ng-repeat="cinema in cinemas">
	
	  <div class="row">
	    <div class="col-sm">
	      {{cinema.name}}
	    </div>
	    <div class="col-sm">
	      {{cinema.address}}
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-sm">
	      {{cinema.description}}
	    </div>
	  </div>
	  <button ng-click="editPlace(cinema.id)">Edit</button><br/>
	  
	  <iframe ng-src="{{trustSrc(cinema.gmapsUrl)}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

	  
	  
	</div>
</div>