<div>
<h3>Izmeni projekciju i raspored sedista</h3>
	<span  ng-repeat="sed in curentlyEditedProj.sedista">
		<br ng-if="!($index % curentlyEditedProj.sala.visina)" />
		<button ng-click="handleButton(sed)" ng-if="sed.type=='ODRINARY'" ng-click="">O-{{handleSeatBtn(sed)}}<!-- ({{sed.visKord}},{{sed.duzKord}}) --></button>
		<button ng-click="handleButton(sed)" ng-if="sed.type=='VIP'" ng-click="">V-{{handleSeatBtn(sed)}}<!-- ({{sed.visKord}},{{sed.duzKord}}) --></button>
		<button ng-click="handleButton(sed)" ng-if="sed.type=='PROMOTION'" ng-click="">P-{{handleSeatBtn(sed)}}<!-- ({{sed.visKord}},{{sed.duzKord}}) --></button>
		<button ng-click="handleButton(sed)" ng-if="sed.type=='CLOSED'" ng-click="">C-{{handleSeatBtn(sed)}}<!-- ({{sed.visKord}},{{sed.duzKord}}) --></button>
	</span>
	
	<br/>
	<div ng-show = "shotSeatEdit==true">
		<h5>Sediste()</h5>
		Vertical position:<input ng-readonly="true" type=text ng-model="handlingSeat.duzKord"><br/>
		Horizontal position:<input ng-readonly="true" type=text ng-model="handlingSeat.visKord"><br/>
		Type:<select ng-model="handlingSeat.type" ng-options="x for x in seatTypes"></select><br/>
		Popust: <input ng-readonly="!(handlingSeat.type=='PROMOTION')" type=text ng-model="handlingSeat.deltaCena"><br/>
		<!-- <button ng-click="updateSeat(handlingSeat)">Update</button><br/> -->
		<button ng-click="addOneClickReserve(handlingSeat)">Make oneclick reservation</button><br/>
	</div>
	<br/>
		<div>
			<h5>Edit projection:</h5>
			
			Date:<br/>
			<pre>Selected date is: <em>{{curentlyEditedProj.date | date:'fullDate' }}</em></pre>
		    <div style="display:inline-block; min-height:290px;">
		      <div uib-datepicker ng-model="curentlyEditedProj.date" class="well well-sm" datepicker-options="options"></div>
		    </div><br/>
		    Time:
		    <div uib-timepicker ng-model="fff" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></div>
		    
		    
			Cena:<input type=text ng-model="curentlyEditedProj.cena"><br/>
			
			Sala:<select ng-show="opdNewSalaEditing==true" ng-model="curentlyEditedProj.sala" ng-options="x as stringSala(x) for x in listSale"></select>
			<div ng-show="opdNewSalaEditing==false">
				Naziv: <input type=text ng-model="curentlyEditedProj.sala.nazivBroj">
				Duzina: <input type=text ng-model="curentlyEditedProj.sala.duzina">
				Visina: <input type=text ng-model="curentlyEditedProj.sala.visina">
			</div>
			<button ng-click="dontShowOldSalaEditing()">New sala/Old sala</button><br/>
			
		</div>
	<br/>
<button ng-click="backFromSeats()">Back</button>
<button ng-click="saveSeats()">Save</button>
</div>