<div>
<h3>Izmeni projekciju i raspored sedista</h3>
	<div class="card">
		<div class="card-body">
			O-Obicno sediste<br/>
			V-VIP sediste<br/>
			P-Promotivno sediste<br/>
			C-Izbaceno sediste<br/>
			R-Rezervisano<br/>
			NR-Nije rezervisano<br/>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<span  ng-repeat="sed in curentlyEditedProj.sedista">
				<br ng-if="!($index % curentlyEditedProj.sala.visina)" />
				<button ng-click="handleButton(sed)" ng-if="sed.type=='ODRINARY'" ng-click="">O-{{handleSeatBtn(sed)}}<!-- ({{sed.visKord}},{{sed.duzKord}}) --></button>
				<button ng-click="handleButton(sed)" ng-if="sed.type=='VIP'" ng-click="">V-{{handleSeatBtn(sed)}}<!-- ({{sed.visKord}},{{sed.duzKord}}) --></button>
				<button ng-click="handleButton(sed)" ng-if="sed.type=='PROMOTION'" ng-click="">P-{{handleSeatBtn(sed)}}<!-- ({{sed.visKord}},{{sed.duzKord}}) --></button>
				<button ng-click="handleButton(sed)" ng-if="sed.type=='CLOSED'" ng-click="">C-{{handleSeatBtn(sed)}}<!-- ({{sed.visKord}},{{sed.duzKord}}) --></button>
			</span>
		</div>
	</div>
	<br/>
	<div ng-show = "shotSeatEdit==true">
		<h5>Sediste()</h5>
		Vertical position:<input ng-readonly="true" type=text ng-model="handlingSeat.duzKord"><br/>
		Horizontal position:<input ng-readonly="true" type=text ng-model="handlingSeat.visKord"><br/>
		Type:<select ng-model="handlingSeat.type" ng-options="x for x in seatTypes"></select><br/>
		Popust: <input ng-readonly="!(handlingSeat.type=='PROMOTION')" type=text ng-model="handlingSeat.deltaCena"><br/>
		<!-- <button ng-click="updateSeat(handlingSeat)">Update</button><br/> -->
		<button ng-click="addOneClickReserve(handlingSeat)">Make oneclick reservation</button><br/>
	</div>
	<br/>
	<div class="card">
		<div class="card-body">
			<h5>Izmena projekcije:</h5>
			
			<b>Izaberite datum:</b><br/>
		    <div style="display:inline-block; min-height:290px;">
		      <div uib-datepicker ng-model="curentlyEditedProj.date" class="well well-sm" datepicker-options="options"></div>
		    </div><br/>
		    <b>Izaberite vreme:</b><br/>
		    <div uib-timepicker ng-model="fff" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="ismeridian"></div>
		    
		    
			<b>Cena:</b><br/><input type=text ng-model="curentlyEditedProj.cena"><br/>
			
			<b>Sala:</b><br/><select ng-show="opdNewSalaEditing==true" ng-model="curentlyEditedProj.sala" ng-options="x as stringSala(x) for x in listSale"></select>
			<div ng-show="opdNewSalaEditing==false">
				<b>Naziv: </b><br/><input type=text ng-model="novSalanazivBroj"><br/>
				<b>Duzina: </b><br/><input type=text ng-model="novSaladuzina"><br/>
				<b>Visina: </b><br/><input type=text ng-model="novSalavisina"><br/>
			</div><br/><br/>
			<button class="btn btn-primary" ng-click="dontShowOldSalaEditing()">{{salaPanelText()}}</button><br/>
		</div>
	</div>
	<div class="btn-group">
		<button class="btn btn-primary" ng-click="backFromSeats()">Nazad</button>
		<button class="btn btn-primary" ng-click="saveSeats()">Sacuvaj</button>
	</div>
</div>