<div>
	<div class="containter">
		Naziv:<input type=text ng-model="curentCinemaTheatre.name"><br/>
		Adresa:<input type=text ng-model="curentCinemaTheatre.address"><br/>
		Opis:<input type=text ng-model="curentCinemaTheatre.description"><br/>
		Tip:<select ng-model="curentCinemaTheatre.type">
				<option value="CINNEMA">CINEMA</option>
    			<option value="THEATRE">THEATRE</option>

  			</select><br>
		Gmaps url:<input type=text ng-model="curentCinemaTheatre.gmapsUrl"><br/>
		Bronzana granica:<input type=text ng-model="curentCinemaTheatre.bronzeTreshold"><br/>
		Srebrena granica:<input type=text ng-model="curentCinemaTheatre.silverTreshold"><br/>
		Zlatna granica:<input type=text ng-model="curentCinemaTheatre.goldTreshold"><br/>
		Bronzani popust:<input type=text ng-model="curentCinemaTheatre.bronzeSale"><br/>
		Srebreni popust:<input type=text ng-model="curentCinemaTheatre.silverSale"><br/>
		Zlatni popust:<input type=text ng-model="curentCinemaTheatre.goldSale"><br/>
		<!-- promotivne karte -->
		<button ng-click="dodajUstanovu()">Dodaj Ustanovu</button>
	</div>

<br>
	Bioskopi i pozorista 
	<table border="1">
		<tr>
			<th>Nazvi</th>
			<th>Adresa</th>
			<th>opis</th>
			<th>Tip</th>
			<th>Bronzana Granica</th>
			<th>Srebrana Granica</th>
			<th>Zlatna Granica</th>
		</tr>
	<tr ng-repeat="ustanova in ustanove">
		<td>{{ustanova.name}}</td>
		<td>{{ustanova.address}}</td>
		<td>{{ustanova.description}}</td>
		<td>{{ustanova.type}}</td>
		<td>{{ustanova.bronzeTreshold}}</td>
		<td>{{ustanova.silverTreshold}}</td>
		<td>{{ustanova.goldTreshold}}</td>
		
	</tr>

</table>

	