<div ng>
	<p>
		<span ng-if="USER == null"><a ui-sref="signup">Sign up</a></span>
		<span ng-if="USER == null"><a ui-sref="signin">Sign in</a></span>
		<span ng-if="USER != null"><a ui-sref="signout">Sign out</a></span>
	</p>
	<p>		
		<div ng-if="USER == null">
				<span ng-if="headerState!='home'"><a ui-sref="defaultState" value="home" ng-click="headerSwitch('home')">Home</a></span>
				<span ng-if="headerState=='home'">Home</span>
				
				<span ng-if="headerState!='cine'"><a ui-sref="cinemas" value="cine" ng-click="headerSwitch('cine')">Cinemas</a></span>
				<span ng-if="headerState=='cine'">Cinemas</span>
				
				<span ng-if="headerState!='thea'"><a ui-sref="theatres" value="thea" ng-click="headerSwitch('thea')">Theatres</a></span>
				<span ng-if="headerState=='thea'">Theatres</span>
				
		<a ui-sref="fanZoneAdmin">Fan Zona</a>
				
		</div>
		<div ng-if="USER.role == 'CINEMA_THEATRE_ADMIN'&&USER.firstTime==false">
		
				<span ng-if="headerState!='home'"><a ui-sref="adminLogin" value="home" ng-click="headerSwitch('home')">Profil</a></span>
				<span ng-if="headerState=='home'">Profil</span>
				
				<span ng-if="headerState!='cine'"><a ui-sref="cinemasAdmin" value="cine" ng-click="headerSwitch('cine')">Bioskopi</a></span>
				<span ng-if="headerState=='cine'">Bioskopi</span>
				
				<span ng-if="headerState!='thea'"><a ui-sref="theatresAdmin" value="thea" ng-click="headerSwitch('thea')">Pozorista</a></span>
				<span ng-if="headerState=='thea'">Pozorista</span>
				
				<a ui-sref="fanZoneAdmin">Fan Zona</a>

		</div>
	</p>
</div>
