<div ng>
	<p>
		<span><a ui-sref="user">Profil</a></span>
		<span><a ui-sref="friendship">Prijatelji</a></span>
		<span><a ui-sref="signin">Pozorista</a></span>
		<span><a ui-sref="signout">Bioskopi</a></span>
		<span><a ui-sref="reservations">Rezervacije</a></span>
		<span><a ui-sref="defaultState">Nazad</a></span>
	</p>
</div>

<h1>Rezervacije</h1>

<form name="findForm">
	<div>
		<input type="text" ng-model="searchByName">
		<button ng-click="search()">Pretrazi</button>
	</div>
</form>

<table border="1">
  <tr ng-repeat="cinemaTheatre in cinemasAndTheathres | orderBy:['name']">
    <td>{{ cinemaTheatre.name }}</td>
   <!--  <td>{{ cinemaTheatre.gmapsUrl }}</td>-->
    <td>{{ cinemaTheatre.address }}</td>
    <td>{{ cinemaTheatre.description }}</td>
    <td><button ng-click="details(cinemaTheatre, cinemaTheatre.id)">Detalji</button></td>
  </tr>
</table> 


<div>
<h6><font color="red">Naziv bioskopa {{choosed.name}}, {{choosed.id}}</font></h6>

<select ng-model="selectedMovie" ng-options="movie.name for movie in movies">
 <option class="placeholder" selected disabled value="">Izaberi fim</option>
</select>

<h6 ><font color="red">Izabran je film: {{selectedMovie.name}}, sa id {{selectedMovie.id}} </font></h6>
</div>