<div>
	<p>
		<span><a ui-sref="user">Profil</a></span>
		<sdan><a ui-sref="friendship">Prijatelji</a></span>
		<span><a ui-sref="theatres">Pozorista</a></span>
		<span><a ui-sref="cinemas">Bioskopi</a></span>
		<span><a ui-sref="reservations">Rezervacije</a></span>
		<span><a ui-sref="listOfReservations">Lista rezervacija</a></span>
		<span><a ui-sref="history">Istorija poseta</a></span>
	</p>
</div>

<h2> Lista rezervacija </h2>

 <table border="1">
  <tr ng-repeat="reservation in reservationList">
     <td>{{ date(reservation.projekcija.date)}}</td>
     <td>{{ reservation.projekcija.sala.nazivBroj }}</td>
      <td>{{ reservation.projekcija.film.name }}</td>
      <td>{{ reservation.rezervisanoMesto.id }}</td>
      <td>{{ reservation.projekcija.film.description }}</td>
      <td>Ambijent:{{ reservation.ocenaAmbijent}}</td>
      <td>Film:{{ reservation.ocenaFilm}}</td>
    <td ng-if="reservation.isHost==false && reservation.status!='ACCEPTED' "><button ng-click="potvrdi(reservation.id, $index)">Potvrdi</button></td>
    <td><button ng-click="odustani(reservation.id, $index)">Odustani</button></td>
     <td><button ng-click="showOceni(reservation)">Oceni</button></td>
  </tr>
</table> 

<div ng-show="showOceniPanel==false">
Oceni<br/>
Ambijent:<input type=text ng-model="ambijent"><br/>
Film:<input type=text ng-model="ocena"><br/>
<button ng-click="commitRate()">Oceni</button>
</div>