<div>
	<p>
		<span><a ui-sref="user">Profil</a></span>
		<sdan><a ui-sref="friendship">Prijatelji</a></span>
		<span><a ui-sref="theatres">Pozorista</a></span>
		<span><a ui-sref="cinemas">Bioskopi</a></span>
		<span><a ui-sref="reservations">Rezervacije</a></span>
		<span><a ui-sref="listOfReservations">Lista rezervacija</a></span>
	</p>
</div>

<h2> Lista rezervacija </h2>

 <table>
  <tr ng-repeat="reservation in reservationList">
    <td>{{ reservation.id }}</td>
    <td><button ng-click="potvrdi(user, user.id, $index)">Potvrdi</button></td>
    <td><button ng-click="odustani(user, user.id, $index)">Odustani</button></td>
  </tr>
</table> 