<form name="signupForm">			
	<h2>Registracija</h2>
	<div><Label>E-mail</Label>
	<input type="email" required ng-model="user.email"></div>

	<div><Label>Lozinka</Label>
	<input type="password" required ng-model="user.password"></div>

	<div><Label>Ponovi lozinku</Label>
	<input type="password" required ng-model="user.confPassword"></div>

	<div><Label>Ime</Label>
	<input type="text" required ng-model="user.name"></div>

	<div><Label>Prezime</Label>
	<input type="text" required ng-model="user.surname"></div>

	<div><Label>Grad</Label>
	<input type="text" required ng-model="user.city"></div>

	<div><Label>Telefon</Label>
	<input type="text" required ng-model="user.phone"></div>

	<button ng-disabled="signupForm.$invalid" ng-click="signup()">Registruj se</button>
</form>