<div>
	<p>
		<span><a ui-sref="user">Profil</a></span>
		<sdan><a ui-sref="friendship">Prijatelji</a></span>
		<span><a ui-sref="theatres">Pozorista</a></span>
		<span><a ui-sref="cinemas">Bioskopi</a></span>
		<span><a ui-sref="reservations">Rezervacije</a></span>
		<span><a ui-sref="listOfReservations">Lista rezervacija</a></span>
		<span><a ui-sref="history">Istorija poseta</a></span>
	</p>
</div>

<h2> Prijatelji </h2>

<form ng-hide="sakrijTabeluIPretragu == true" name="findForm">
	<label>Pretaga: </label>
	<div>
		<label>Ime:</label>
		<input type="text" ng-model="search.name">
	</div>
	<div>
		<label>Prezime:</label>
		<input type="text" ng-model="search.surname">
	</div>
</form>

 <table>
  <tr ng-repeat="user in friends | orderBy:['name', 'surname'] | filter:{name: search.name, surname: search.surname}">
    <td>{{ user.name }}</td>
    <td>{{ user.surname }}</td>
    <td><button ng-click="deleteFriend(user, user.id, $index)">Obrisi</button></td>
  </tr>
</table> 

<h2> Posalji zahtev </h2>
 <table>
  <tr ng-repeat="user in nonFriends | orderBy:['name', 'surname'] | filter:{name: search.name, surname: search.surname}">
    <td>{{ user.name }}</td>
    <td>{{ user.surname }}</td>
    <td><button ng-click="sendRequest(user, user.id, $index)">Posalji</button></td>
  </tr>
</table> 

<h2> Primljeni zahtevi </h2>
 <table>
  <tr ng-repeat="user in requests | orderBy:['name', 'surname'] | filter:{name: search.name, surname: search.surname}">
    <td>{{ user.name }}</td>
    <td>{{ user.surname }}</td>
    <td><button ng-click="cancelRequest(user.id, user, $index)">Obrisi</button></td>
    <td><button ng-click="acceptRequest(user.id, user, $index)">Prihvati</button></td>
  </tr>
</table> 

