<div ng-if="korisnik==true">
	<p>
		<span><a ui-sref="user">Profil</a></span>
		<sdan><a ui-sref="friendship">Prijatelji</a></span>
		<span><a ui-sref="theatres">Pozorista</a></span>
		<span><a ui-sref="cinemas">Bioskopi</a></span>
		<span><a ui-sref="reservations">Rezervacije</a></span>
	</p>
</div>

<h1>
Cinemas
</h1>
<div>
	<div class="container" ng-repeat="cinema in cinemas" ng-show="showCinemas == true">
	
	  <div class="row">
	    <div class="col-sm">
	      {{cinema.name}}
	    </div>
	    <div class="col-sm">
	      {{cinema.address}}
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-sm">
	      {{cinema.description}}
	    </div>
	  </div>
	   <button ng-show="korisnik==true" ng-click="showCinnema(cinema)">View</button>
	  <div class="row">
	    <div class="col-sm">
	      <iframe ng-src="{{trustSrc(cinema.gmapsUrl)}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	    </div>
	  </div>
	 
	</div>
	
	<div ng-show="showCinemas == true">
		<h3>Oneclick rezervacije:</h3>
		<ol>
			<li ng-repeat="rez in oneClick">
				Naziv filma: {{rez.film.name}}<br/>
				Datum: {{rez.projekcija.date}}<br/>
				Sala: {{rez.projekcija.sala.nazivBroj}}({{rez.rezervisanoMesto.visKord}},{{rez.rezervisanoMesto.duzKord}})<br/>
				Orginalna cena: {{rez.projekcija.cena}}<br/>
				POPUST!: {{rez.rezervisanoMesto.deltaCena}}
				<button ng-click="deleteOneClickReservation(rez.id)">Delete</button>
			</li>
		</ol>
		<button ng-show="korisnik==true" ng-click="showCinnema(cinema)">Back</button>
	</div>
	
	
</div>