<div ng-if="korisnik==true">
	<p>
		<span><a ui-sref="user">Profil</a></span>
		<sdan><a ui-sref="friendship">Prijatelji</a></span>
		<span><a ui-sref="theatres">Pozorista</a></span>
		<span><a ui-sref="cinemas">Bioskopi</a></span>
		<span><a ui-sref="reservations">Rezervacije</a></span>
		<span><a ui-sref="listOfReservations">Lista rezervacija</a></span>
		<span><a ui-sref="history">Istorija poseta</a></span>
	</p>
</div>

<h1>
Cinemas
</h1>
<div>
	
		
		<div class="card" ng-repeat="cinema in cinemas | orderBy:['name','addres']" ng-show="showCinemas == true">
			<div class="card-body">
		      <b>Naziv bioskopa:</b><br/>{{cinema.name}}<br/>
		      <b>Adresa bioskopa:</b><br/>{{cinema.address}}<br/>
		      <b>Promotivni opis:</b><br/>{{cinema.description}}<br/>
		      <button ng-if="korisnik!=null" type="button" class="btn btn-primary" ng-click="showCinnema(cinema)">Vise detalja</button><br/>
		      <iframe ng-src="{{trustSrc(cinema.gmapsUrl)}}" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div> 


	
	
	<div ng-show="showCinemas == false">
		<h3>Brze rezervacije:</h3>
		<div class="card">
			<div ng-repeat="rez in oneClick" class="card-body">
				<b>Naziv filma:</b><br/> {{rez.film.name}}<br/>
				<b>Datum:</b> <br/>{{date(rez.projekcija.date)}}<br/>
				<b>Sala:</b> <br/>{{rez.projekcija.sala.nazivBroj}}({{rez.rezervisanoMesto.visKord}},{{rez.rezervisanoMesto.duzKord}})<br/>
				<b>Orginalna cena:</b> <br/>{{rez.projekcija.cena}}<br/>
				<b>POPUST!!!: </b><br/>{{rez.rezervisanoMesto.deltaCena}}<br/>
				<button class="btn btn-primary" ng-click="reserveOneClick(rez)">Reserve</button>
			</div>
		</div>
	</div>
	<button class="btn btn-primary" ng-show="showCinemas == false" ng-click="showCinnema(cinema)">Back</button>
	
	
</div>